.postList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-h {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgb(84, 82, 82);
}

.button {
  background-color: rgba(232, 236, 215, 0.493);
  border: 1px solid rgb(126, 124, 127);
}

.button:hover {
  background-color: rgba(154, 159, 131, 0.532);
}

.btnHome {
  margin-bottom: 10px;
}
