.signup-form {
  border: 2px solid black;
  background-color: rgba(213, 213, 213, 0.493);
  height: auto;
  width: 50%;
  margin-left: 25%;

  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

.signup-form-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.signUpArea {
  margin: 5px;
}
.btnSignup {
  margin: 5px;
}
