.post {
  background-color: rgba(232, 236, 215, 0.493);
  width: 50%;
  border: 1px solid;
  border-color: black;
  border-radius: 2%;
  margin-bottom: 15px;
}

.created_at {
  margin-right: 5px;
}

.avatar {
  height: 10%;
  width: 10%;
  border: 2px solid black;
  border-radius: 100%;
  margin-left: 0;
}

.avatar_img {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: 5px;
}

.content {
  display: flex;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.user-name {
  text-transform: uppercase;
}

.post-delete {
  display: flex;
  justify-content: flex-start;
  margin-left: 2px;
  margin-bottom: 2px;
}
