.post {
  background-color: rgba(213, 213, 213, 0.493);
  width: 50%;
  border: 1px solid;
  border-color: black;
  border-radius: 2%;
  margin-bottom: 15px;
}

.created_at {
  margin-right: 5px;
}

.avatar {
  height: 10%;
  width: 10%;
  border: 2px solid black;
  border-radius: 100%;
  margin-left: 0;
}

.avatar_img {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.user-name {
  text-transform: uppercase;
}

.avatar {
  margin-left: 2px;
}

.content {
  display: flex;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btnPostDelete {
  margin-left: 2px;
  margin-bottom: 2px;
  padding-right: 5x;
}

.btnLikeDislike {
  margin-left: 2px;
  margin-bottom: 2px;
}

.likeIcon {
  margin-right: 5px;
  padding-left: 5px;
  margin-bottom: 2px;
}

.btnDisfollowRecommendations {
  margin-bottom: 2px;
}

.btnDeleteLikeDislike {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}
